node_modules/
.expo/
dist/
*.log
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Expo
.expo-shared/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
